.sectionone{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 0;
    margin: 0 auto;
    margin-top: 50px;
    
}
/* section one css code start*/

.secone-partone{
    width: 50%;
    padding: 20px;
}
.secone-title{
    border-left: 4px solid rgb(187, 4, 4);
}
.secone-title h1{
    padding: 0;
    margin: 0px 0px 0px 10px;
    font-size: 48px;
}
.secone-title h2{
    padding: 0;
    margin: 10px 0px 0px 10px;
    font-size: 48px;
}
.secone-parttwo{
    width: 50%;
    padding: 20px;
}
.btn{
    color: rgb(207, 144, 7);
    margin-top: 10px;
}
.secone-paragraph{
    margin-top: 40px;

}
.secone-paragraph p{
    text-align: left;
    line-height: 23px;
    font-family: initial;
}
.secone-paragraph button{
    background-color: rgb(238, 42, 42);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: white;
}
.imageone{
    border-radius: 50%;
    margin-left: 150px;
    height: 300px;
}
/* section one css code end */
/* section second code start */
.sectiontwo{
    margin-top: 70px;
}
.sectwo-title{
    text-align: center;
    font-size: 48px;
}
.btntwo{
    color: rgb(207, 144, 7);
   
}
.sectiontwo-separate{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 0;
    margin: 0 auto;
    
}
.sectwo-partone{
    width: 33%;
    background-color: rgb(195, 238, 238);
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
}
.sectwo-parttwo{
    width: 33%;
    background-color: rgb(179, 191, 243);
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
}
.sectwo-partthree{
    width: 33%;
    background-color: rgb(175, 246, 190);
    margin: 1%;
    border-radius: 10px;
    padding: 20px;
}
.imagetwo{
    height: 120px;
    padding: 0;
    margin: 0;
}
.card-title{
    font-size: 22px;
}
/* section second code end */